@charset "EUC-KR";

body {
	background-color: #c0c0c0;	
}

#main {
	font-size: 12pt;
	text-decoration: overline;
}

#box {
	width: 150px;
	height: 200px;
	background-color: green;
}

.boxinbox {
	width: 100px;
	height: 50px;
	background-color: gray;
}